@charset "UTF-8";
@font-face {
    font-family: lobs;
    src: url(fonts/Lobster-Regular.ttf);
}
:root{
    --cor0:#EEE5E9;
    --cor1:#22118f;
    --cor2:#F2E30F;
    --cor3:#F2A20C;
    --cor4:#FB4D3D;
    --cor5:#f78258;  
}
*{
    text-align: justify;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--cor1);
    padding: 10px;
}

menu{
    display: none;
    margin-right: 5px;
    }

menu > ul{
    list-style-type: none;
}

span#menu{
    background-color: var(--cor2);
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

span#menu:hover{
    background-color: var(--cor5);
    color: white;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--cor5);
    text-align: center;
    border-top:2px solid black;
    color: white;
    border-radius: 10px;
}
menu a:hover{
    background-color:rgba(0, 0, 0, 0.178);
    border-radius: 7px 7px 7px 7px;
    transition-duration: 1s;
    color: #e4e731;
    
}

::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor4);
    border-radius: 10px;
}

main{
    width: 90vw;
    margin: auto;
    padding: 15px;
}

main > iframe{
    margin: auto;
    width: 100%;
    display: block;
    margin: auto;
    background-color: var(--cor1);
    box-shadow: var(15px, 15px, 15px, black);
}
main > h1{
    font-family: lobs, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
    font: 400px;
    
}
main p{
    margin: 12px;
}
footer{
    font-family: lobs;
    background-color:var(--cor1);
    width: 100%;
    border-radius: 50px 50px 10px 10px;
    line-height: 35px;
    
}
footer address{
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.116);
    color: var(--cor0);
    font-size: 20px;
    
}
